*.exe

/Project/bin/
/Project/pkg/
/Project/src/code.google.com/
/Project/src/github.com/
/Project/src/golang.org/
/Project/src/gopkg.in/
/Project/src/sourcegraph.com/

/WebApp/Cargo/bin/
/WebApp/Cargo/Data/
/WebApp/Cargo/Definitions/
/WebApp/Cargo/icons/
/WebApp/Cargo/Schemas/
/WebApp/Cargo/Scripts/
/WebApp/Cargo/tmp/

/WebApp/Cargo/Apps/BrisOutil/
/WebApp/Cargo/Apps/Catalog/
/WebApp/Cargo/Apps/Dt3/
/WebApp/Cargo/Apps/lib/
/WebApp/Cargo/Apps/QrqcSupervision/

/build
/SayHelloPlugin
