*.exe

/Project/bin/
/Project/pkg/
/Project/src/CleanupProactive/
/Project/src/code.google.com/
/Project/src/github.com/
/Project/src/golang.org/
/Project/src/gopkg.in/
/Project/src/sourcegraph.com/*.exe
/build*

/Project/src/code.myceliUs.com/CodeGen/CodeGen
/Project/src/code.myceliUs.com/CodeGen/input/BPMN20.cmof
/Project/src/code.myceliUs.com/CodeGen/input/BPMN20.xsd
/Project/src/code.myceliUs.com/CodeGen/input/BPMNDI.cmof
/Project/src/code.myceliUs.com/CodeGen/input/BPMNDI.xsd
/Project/src/code.myceliUs.com/CodeGen/input/BPMS.cmof
/Project/src/code.myceliUs.com/CodeGen/input/BPMS.xsd
/Project/src/code.myceliUs.com/CodeGen/input/DC.cmof
/Project/src/code.myceliUs.com/CodeGen/input/DC.xsd
/Project/src/code.myceliUs.com/CodeGen/input/DI.cmof
/Project/src/code.myceliUs.com/CodeGen/input/DI.xsd
/Project/src/code.myceliUs.com/CodeGen/input/Semantic.xsd
/Project/src/code.myceliUs.com/CargoWebServer/CargoWebServer
/Project/src/code.myceliUs.com/CargoWebServer/Cargo/Entities/BPMN20
/Project/src/code.myceliUs.com/CargoWebServer/Cargo/Entities/BPMNDI
/Project/src/code.myceliUs.com/CargoWebServer/Cargo/Entities/BPMS
/Project/src/code.myceliUs.com/CargoWebServer/Cargo/Entities/DC
/Project/src/code.myceliUs.com/CargoWebServer/Cargo/Entities/DI
/Project/src/code.myceliUs.com/CargoWebServer/Cargo/Entities/BPMN_XmlFactory.go
/Project/src/code.myceliUs.com/CargoWebServer/Cargo/Entities/BPMS_XmlFactory.go
/Project/src/code.myceliUs.com/CargoWebServer/Cargo/Server/WorkflowManager.go
/Project/src/code.myceliUs.com/CargoWebServer/Cargo/Server/WorkflowProcessor.go
/Project/src/code.myceliUs.com/CargoWebServer/Cargo/Server/Entity_BPMN20.go
/Project/src/code.myceliUs.com/CargoWebServer/Cargo/Server/Entity_BPMS.go
/Project/src/code.myceliUs.com/CargoWebServer/Cargo/Server/Entity_BPMNDI.go
/Project/src/code.myceliUs.com/CargoWebServer/Cargo/Server/Entity_DI.go
/Project/src/code.myceliUs.com/CargoWebServer/Cargo/Server/Entity_DC.go

/WebApp/Cargo/bin/
/WebApp/Cargo/Data/
/WebApp/Cargo/Definitions/
/WebApp/Cargo/icons/
/WebApp/Cargo/tmp/

/WebApp/Cargo/Apps/*
!/WebApp/Cargo/Apps/Cargo/
!/WebApp/Cargo/Apps/Bridge/

/CargoServiceContainer/plugins
/CargoServiceContainer/lib
/CargoServiceContainer/include
/CargoServiceContainer/*.user

/build
