/Entities/BPMN20
/Entities/BPMNDI
/Entities/BPMS
/Entities/DC
/Entities/DI
/Entities/BPMN_XmlFactory.go
/Entities/BPMS_XmlFactory.go
/Server/WorkflowManager.go
/Server/WorkflowProcessor.go
/Server/Entity_BPMN20.go
/Server/Entity_BPMS.go
/Server/Entity_BPMDI.go
/Server/Entity_DI.go
/Server/Entity_DC.go
