
/**
 Edit button.
*/
.edit-button{
    position: absolute;
    z-index: 4;
    left: -20px;
    top:-.75em;
}

.edit-button i {
    color: #337ab7;
    background-color: white;
    font-size: 20px;
}

.edit-button:hover {
    cursor: pointer;
}

.delete-button {
    color: #337ab7;
}

.delete-button:hover {
    cursor: pointer;
    text-shadow: 0px 0px 9px lightblue;
}