@media print {
  body * {
    visibility: hidden;
    color:black!important;
  }
  #ordersAdminControl *{
    visibility: visible;
    border-radius:0;
  }
  #ordersAdminControl {
    position: fixed;
    left: 0;
    right:0;
    top: 0;
    width:100%;
  }

  #ordersAdminControl .input-group{
      width:100%;
  }
  
  #ordersAdminControl .btn{
      display: none;
  }
  #ordersAdminControl .img-fluid{
      display: none;
  }
  
  #ordersAdminControl .col-sm-8{
      flex: 0 0 100%;
      max-width: 100%;
  }
  

}