/* libre-barcode-128-text-regular - latin */
@font-face {
  font-family: 'Libre Barcode 128 Text';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/libre-barcode-128-text-v5-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Libre Barcode 128 Text Regular'), local('LibreBarcode128Text-Regular'),
       url('../fonts/libre-barcode-128-text-v5-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/libre-barcode-128-text-v5-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/libre-barcode-128-text-v5-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/libre-barcode-128-text-v5-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/libre-barcode-128-text-v5-latin-regular.svg#LibreBarcode128Text') format('svg'); /* Legacy iOS */
}