.category_selector{
    /** visual properties **/
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    padding-left: 5px;
    overflow-y: auto;
    background-color: white;
}

.category_panel{
    display: table;
}

.category_panel_header_title{
    display: table-cell;
    text-align: left;
    width: 100%;
    padding-left: 4px;
}

.category_panel_header_title:hover{
    text-decoration: underline;
    cursor: pointer;
    color: #428bca;
}

.category_panel_header{
    display: table;
    width: 100%;
}

.category_panel_header_button{
    display: table-cell;
    width: 10px;
}

.category_panel_header_button:hover{
    cursor: pointer;
    color: #428bca;
}
.category_items_panel{
    display: table;
    width: 100%;
    padding-left: 24px;
}

.type_name_items{
    display: table-row;
    width: 100%;
}

.type_name_items:hover{
    text-decoration: underline;
    cursor: pointer;
    color: #428bca;
}