.search_btn{
    transition: all .2s ease;
}

.search_btn:hover{
    cursor: pointer;
    color: steelblue;

}

.search_results{
    display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
    flex-grow: 1;
    flex-direction: column;
}

.search_results_header{
    padding-left: 5px;
    display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
    align-items: center;
    min-height: 30px;
    vertical-align: middle;
    border-bottom:  1px solid lightgray;
}

.search_results_content{
    display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
    flex-grow: 1;
    position: relative;
    overflow-y: auto;
    height: 100px;
}

.search_results_navigation{
    display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
    align-items: center;
    border-top:  1px solid lightgray;
    flex-basis: 45px;
}

.search_result{
    display: table-row;
    width: 100%;
}

.search_result_rank{
    display: table-cell;
    font-weight: bold;
    padding-left: 5px;
}

.item_result_panel {
    display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
    background-color: white;
    margin: 5px;
    padding: 10px;
    border: 1px solid rgba(255, 255, 255, .75);

}

.page-selector-panel div{
    border-color: lightgrey;
}

.body_cell .table_header{
    display: none;
 }

.filter_panel_div{
    border: 1px solid lightgrey;
}