body{
	overflow-x: hidden;
}

h5{
	font-size: 16px;
}

.navbar {
	margin-bottom: 0px;
}

#cargo-intro-container{
	background-color: #333;
	color: white;
	padding-top:50px;
	padding-bottom:50px;
}

#cargo-intro-wheel{
	max-height: 250px;
	padding: 20px;
	-moz-animation:75s rotateRight infinite linear; 
	-webkit-animation:75s rotateRight infinite linear; 
}

@-moz-keyframes rotateRight{
	0%{ -moz-transform:rotate(0deg); -moz-transform-origin:50% 50%; }
	100%{ -moz-transform:rotate(360deg); }
}

@-webkit-keyframes rotateRight{
	0%{ -webkit-transform:rotate(0deg); -webkit-transform-origin:50% 50%; }
	100%{ -webkit-transform:rotate(360deg); }
}

#gettingCargoDiv i{
	font-size: 18pt;
}

.tutorialsHeader{
	padding-left:10px;
	cursor: pointer;
}

.pageRow{
	padding-right: 10px;
}

.exampleContainer{
	border: 1px solid lightgray;
	width: 455px;
	height: 256px;
}

.tutorialsSectionIntro{
	padding-top: 20px;
}

.fa-windows{
	color: #1BA1E2;
}

/* MARKETING
-------------------------------------------------- */

.marketing {
	height: 300px;
	padding-right: 150px;
	padding-left: 150px;
}

.marketing .col-md-3 {
	height: 100%;
	text-align: center;
	font-size: 16px;
	transition: all .0s ease;
}

.marketing .col-md-3 .glyphicon {
	font-size: 60px;
	background-color: #EAEAEA;
	border-radius: 50%;
	padding: 40px;
	color: #444;
	margin-top: 20px;
}



#generalFileStructure div{
	padding-left: 15px;
}

#generalFileStructure i{
	margin-right: 5px;
}

