
/** The entity panel **/
.entity_panel{
    display: grid;
    grid-template-columns: 1fr;
    /*grid-template-rows: 100vh;*/
}

/** The entity panel header **/
.entity_panel_header{

}

/** The field panel **/
.field_panel{
    display: grid;
    /*Tow column*/
    grid-template-columns: 1fr 4fr;
    /** One row */
    grid-template-rows: 1fr;
}

.field_renderer{

}