.scrolltable {
    display: table;
    border-collapse:collapse;
    margin-top: 2px;
    margin-bottom: 2px;
}

.table_body{
  display: table-row-group;
}

.header_cell{
    background-color:  #bbb;
    border-right: 1px solid;
    border-left: 1px solid;
    color: white;
    padding: 2px;
    display: table-cell
}

.cell_value .scrolltable .header_cell{
    color: #657383;
    background-color:  transparent;
    border: 1px solid;
}

.table_header{
    display: table-header-group;
}

.body_cell{
    background-color: transparent;
    display: table-cell;
    border-right: 1px solid;
    border-left: 1px solid;
    border-bottom: 1px solid;
    text-align: left;
    height: 100%;
    padding: 2px;
    min-height: 20px;
}

.body_cell input{
    background-color: transparent;
}

.body_cell option{
    background-color: white;
    color: #657383;
}

.body_cell select{
    background-color: transparent;
    height: auto;
}

.body_cell textarea {
    background-color: transparent; 
    resize: none;
    overflow: hidden;
    border: none;
}

.cell_content {
    display: table; 
    width: 100%; 
    text-align: center;
}

.cell_value {
    min-height: 16px;
}

/** XSD styles **/
.xs_number {
    min-width: 75px;
    text-align: center;
    height: auto;
}

.xs_date {
    min-width: 75px;
    text-align: center;
    height: auto;
}

.xs_bool{
    margin: 0 auto;
    width: 100%;
}

.xs_bool input{
    text-align:center;
    vertical-align:middle;
}

.xs_string {
    min-width: 75px;
    text-align: left;
    height: auto;
}

.xs_id {
    min-width: 75px;
    text-align: center;
}

.xs_ref{
    text-decoration: underline;
}

.table_row {
    display: table-row;
}


/** The sorter **/
.column_sorter {
    /*color: lightgrey;*/
    display: table-cell;
}

.column_sorter:hover {
    cursor: pointer;
}

.column_sorter div{
    display: table-cell;
}

.column_sorter span{
    display: table-cell;
    font-size: 8pt;
    padding-left: 2px;
}

/** The column filter **/
.column_filter{
   /*color: lightgrey;*/
   display: table-cell;
}

.column_filter:hover {
    cursor: pointer;
}

.filter_panel_div{
    color: #657383;
    background-color: white;
    font-size: 10pt;
    text-align: left;
    position: absolute;
    display: none;
    z-index: 4;
    -webkit-box-shadow: 5px 5px 12px -4px;
    -moz-box-shadow: 5px 5px 12px -4px;
    box-shadow: 5px 5px 12px -4px;
}

.filter_panel_scroll{
    max-height: 250px;
    overflow-y: auto;
    padding: 0px 3px 0px 3px;
}

.filter_panel{
    overflow-y: auto;
    width: 100%;
    display: table;
    border-spacing:2px 2px;
}

.filter_panel div{
    display: table-row;
}

.filter_panel input{
    display: table-cell;
    vertical-align: middle;
    margin: 2xp;
}

.filter_panel label{
    display: table-cell;
    vertical-align: middle;
    margin: 2px;
}

.filter_panel div:hover{
    background-color: royalblue;
    color: white;
}

.filter_panel input:hover{
    cursor: pointer;
}

.filter_panel_buttons{
    display: table;
    width: 100%;
    height: 29px;
    border: 1px solid gray;
}

.filter_panel_buttons div{
    display: table-cell;
    width: 50%;
    height: 26px;
    text-align: center;
    padding-top: 5px;
    vertical-align: middle;
}

.filter_panel_buttons div:hover{
    color: white;
    transition: all .2s ease;
    background-color: royalblue;
    border: 1px solid white;
}

.filter_panel_buttons div:active{
    border: 1px solid;
}

.filter-applied{
    text-shadow: -1px 1px 8px, 1px -1px 8px
}

.line{
    vertical-align: middle;
}

.row_button{
    vertical-align: middle;
    display: inline; 
    min-width: 16px;
}

.row_button i {
    color: lightgrey;
}

.entity_ref_lnk{
    color: lightgrey;
}

.entity_ref_lnk:hover {
    color: steelblue;
    cursor: pointer;
    transition: all .2s ease;
}

.row_button a:hover {
    color: steelblue;
    cursor: pointer;
    transition: all .2s ease;
}

.row_button i:hover {
    color: steelblue;
    cursor: pointer;
    transition: all .2s ease;
}

.row_button .fa-floppy-o {
    color: steelblue;
}

.new_row_button{
    vertical-align: top;
}

.number_of_row_label{
    color: white;
    background-color:steelblue;
    border: 1px solid;
    font-size: 8pt;
    width: 1em;
    text-align: center; 
    padding: 2px; 
}

.table_header_btn_div {
    display: table-cell; 
    background-color: transparent; 
    vertical-align: middle;
}

.table_header_size_btn{
    display: table-cell;
    padding-right: 5px;
    text-align: right;
}

.table_header_size_btn i:hover {
    color: steelblue;
    cursor: pointer;
    transition: all .2s ease;
}