body {
    box-sizing: border-box;
    font: 400 20px/1.5 'Source Sans Pro',Open Sans,Roboto,'San Francisco',Helvetica,Arial,sans-serif;
    color: #333;
    margin: 0;
    background-color: #fff;
}

html, body {
    margin: 0 0 0 0;
}

p {
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    text-align: left;
}

a:hover {
    color: #fff;
    background-color: rgba(27, 87, 191, 0.75);;
}
a, a:link, a:active {
    color: #104bb3;
    text-decoration: none;
    border-radius: 2px;
}

#home-intro {
    max-width: 735px;
    margin: 0 auto;
    padding: 30px 0;
    text-align: center;
}

.main_page{
    background-color: white;
    overflow-y: auto;
}

.header{
    background-color: #333;
    height: 127px;
    display: table-row;
    width: 100%;
}

.footer{
    height: 180px;
    background-color: #333;
    opacity: .75;
    text-align: center;
    border-top: 10px solid black;
    background-image: url("../image/port.jpg");
    background-size: auto 100%;
    display: table-cell;
    width: 100%;
}

.body{
    background-color: #fff;
    text-align: center;
    display: table-row;
    width: 100%;
}

.body p{
    max-width: 980px;
}
.title{
    width: 100%;
    height: 100%;
    text-align: center;
    font-family: "Comic Sans MS", cursive;
    font-size: 50pt;
    color: white;
    vertical-align: middle;
}

.mainMenu{
    font: 400 20px/1.5 'Source Sans Pro',Open Sans,Roboto,'San Francisco',Helvetica,Arial,sans-serif;
    background-color: #333;
    text-align: center;
}

.mainMenuItem{
    padding: 0px 8px;
    text-transform: uppercase;
    font-size: 14px;
    color: #ccc;
    display: inline-block;
}

.mainMenuItem:hover{
    cursor: pointer;
    color: #fff;
    text-decoration: underline;
}

.home-downloadbutton:hover {
    background-color: rgba(27, 87, 191, 0.75);;
    cursor: pointer;
}

.home-downloadbutton {
    display: block;
    margin: 10px 4px;
    padding: .2em .6em;
    background-color: #104bb3;
    color: #fff !important;
    border-radius: 2px;
    font-size: 30px;
    font-weight: 400;
    -webkit-transition: .2s background-color ease-in-out;
    transition: .2s background-color ease-in-out;
}

.home-downloadbutton small {
    display: block;
    font-size: 1rem;
}

user agent stylesheet
small {
    font-size: smaller;
}
Inherited from a.home-downloadbutton

object{
    overflow: hidden;
}