
/**
 * The code editor.
 */
 .codeEditor{
     position: absolute;
     top: 22px;
     bottom: 1px;
     left: 0px;
     right: 0px;
     background-color: transparent;
     overflow: hidden;
 }

 .filePanel{
     width: 100%;
     height: 100%;
     overflow: auto;
     font: 14px/normal 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'source-code-pro', monospace;
 }