
.data_explorer{
    border-top: 1px solid grey;
    position: relative;
    overflow: auto;
    width: 100%;
}

.shemas_view {
    position: absolute;
    top:0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
}

.data_prototype_tree_view{
   
}