
.data_explorer{
    position: relative;
    padding: 5px;
    transition: all .2s ease;
    overflow-y: auto;
    overflow-x: hidden;
}

.shemas_view {
    position: absolute;
    top:0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
}

.data_prototype_tree_view{
    display: table;
    border-collapse:collapse;
    margin-top: 1px;
    margin-bottom: 1px;
}

.data_prototype_tree_view_header{
    display: table-row;
}

.data_prototype_tree_view_header span, i{
    margin-left: 2px;
    margin-right: 2px;
}

.data_prototype_tree_view_header i:hover{
    cursor: pointer;
}

.data_prototype_tree_view_fields{
    display: none;
    border-collapse:collapse;
    margin-top: 1px;
    margin-left: 20px;
    margin-bottom: 1px;
}

.data_prototype_tree_view_field{
    display: table-row;
}

.data_prototype_tree_view_field span, i{
   display: table-cell;
   padding: 2px 2px 2px 4px;
}

.field_id{
    color: #428bca;
    font-weight: bold;
}

.field_index{
    color: green;
    font-weight: bold;
}

.field_visibility{
    color: lightgray;
}

.field_visibility.visible{
    color:  #428bca;
}

.popup_div{
    position: absolute; 
    background-color: white;
	-webkit-box-shadow: 5px 5px 12px -4px;
	-moz-box-shadow: 5px 5px 12px -4px;
	box-shadow: 5px 5px 12px -4px;
    color: #657383;
    padding: 5px;
    z-index: 10;
    border: 1px solid;
}

.popup_div input{ 
    background-color: transparent;
}