
/** **/
#leftDiv{
	width: 350px;
	height: 100%;
	position: relative;
	overflow-x: hidden;
	overflow-y: auto;
	background-color: white; 
	border-top: 1px solid grey;
}

.navigation_div{
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
}

.properties_div{
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	overflow-y: auto;
}

.contextSelector {
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	width: 50px;
	border-right: 1px solid grey;
	transition: all .2s ease;
}

/** */
#rightDiv{
	position: relative;
	width: 300px;
	height: 100%;
	background-color: white; 
	border-top: 1px solid grey;
}

#middleDiv{
	width: 100%;
	height: 100%;
	border-top: 1px solid grey;
}

.header{
	background-color: white;
	display: table-row;
	height: 90px;
	width: 100%;
}

.panel{
	background-color: white;
	display: table;
	width: 100%;
}


/** The home page **/
.home_page{
  width: 100%;
  height: 100%;
  display: table;
}

/** the menu div **/
.menu_div{
	display: table;
	width: 100%;
}

.menu_div div{
	display: table-cell;
	height: 60px;
}

.workspace_div{
	width: 100%;
	height: 100%;
	position: relative;
}

.contextSelector div {
	text-align: center;
	display: table;
}

.contextSelector i {
	display: table-cell;
	width: 50px;
	height: 50px;
	vertical-align: middle;
	color: lightgrey;
	font-size: 18pt;
	border: 1px solid transparent;
}

.contextSelector i:hover{
	border: 1px solid lightgray;
	color: #657383;
	cursor: pointer;
}

.contextSelector i.active{
	color: #428bca;
}