html{
	overflow: hidden;
}

body {
  color: fff;
  
  /** IE **/
  scrollbar-base-color: #C0C0C0; 
  scrollbar-3dlight-color: #C0C0C0; 
  scrollbar-highlight-color: #C0C0C0; 
  scrollbar-track-color: #EBEBEB; 
  scrollbar-arrow-color: black; 
  scrollbar-shadow-color: #C0C0C0; 
  /*-ms-overflow-style: -ms-autohiding-scrollbar;*/
}


/** Here I will set the scroll bar style **/
::-webkit-scrollbar
{
  width: 5px;  /* for vertical scrollbars */
  height: 12px; /* for horizontal scrollbars */
}

::-webkit-scrollbar-track
{
  background: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb
{
  background: #657383;
}

::-webkit-scrollbar-thumb:active
{
  background: #428bca;
}

::-webkit-scrollbar-thumb:hover
{
  cursor: pointer;
}

.scrolltable th{
    font-size: 10pt;
}

.scrolltable > .table_body {
    /* width: -webkit-fit-content;*/
    overflow-y: auto;
}

.dialog_delete_button:hover{
    background: linear-gradient(to bottom, rgba(204,0,0,1) 0%,rgba(204,0,0,1) 100%);
}

.heritage_btn i{
    display: none;
}

.row_button {
    visibility: visible;
}