/** occupy the workspace **/
.query_editor{
    display: flex;
    flex-direction: column;
    width:100%; 
    height:100%;
    background-color: transparent;
    font: 14px Monaco, Menlo, "Ubuntu Mono", Consolas, source-code-pro, monospace;
}

#query_editor_splitter{
    display: flex;
}

.query_editor_splitter_area {
    position: relative;
    display: flex;
    /*flex-basis: 50%;*/
    overflow: hidden;
}

.edit_query_panel{
    width: 100%;
    overflow: hidden;
}

.result_query_panel{
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    overflow: auto;
}

.table_header.scrolling{   
    box-shadow: 0 2px 4px 0,0 2px 10px 0 !important;
 }

.table_header_btn_div .fa-download {
    display: none;
}