/** This is the toolbar container. **/
#toolbarDiv {
    width:100%; 
    height: 30px; 
    display: table;
}

/** Toolbar **/
.toolbar{
    display: table-cell;
}

/** Toolbar button **/
.toolbar div{
    color: lightgray;
    display: table-cell;
    height: 30px;
    width: 30px;
}