/** This is the toolbar container. **/
#toolbarDiv {
    width:100%; 
    height: 30px;
}

/** Toolbar **/
.toolbar{
    display: flex;
}

.toolbar select{
    background-color: transparent;
    vertical-align: middle;
    text-align: center;
    border: 1px solid transparent;
}

.toolbar option{
    background-color: transparent;
}

/** Toolbar button **/
.toolbarButton{
    border: 1px solid transparent;
    vertical-align: middle;
    text-align: center;
    color: lightgrey;
    font-size: 12pt;
}

.toolbarButton i:hover{
    border: 1px solid lightgrey;
    cursor: pointer;
    color: #428bca;
}