CodeGen
CodeGen.exe

/Input/BPMN20.cmof
/Input/BPMN20.xsd
/Input/BPMNDI.cmof
/Input/BPMNDI.xsd
/Input/BPMS.cmof
/Input/BPMS.xsd
/Input/DC.cmof
/Input/DC.xsd
/Input/DI.cmof
/Input/BPMN20.cmof
/Input/DI.cmof
/Entities/Semantic.xsd
