.navbar {
	margin-bottom: 0px;
}

#cargo-intro-container{
	background-color: #333;
	color: white;
	padding-top:50px;
	padding-bottom:50px;
}

#cargo-intro-wheel{
	max-height: 300px;
	padding: 20px;
}

.tutorialsHeader{
	padding-left:10px;
	cursor: pointer;
}

