body{
	overflow-x: hidden;
}

h5{
	font-size: 16px;
}

.navbar {
	margin-bottom: 0px;
}

#cargo-intro-container{
	background-color: #333;
	color: white;
	padding-top:50px;
	padding-bottom:50px;
}

#cargo-intro-wheel{
	max-height: 300px;
	padding: 20px;
}

.tutorialsHeader{
	padding-left:10px;
	cursor: pointer;
}

.pageRow{
	padding-right: 10px;
}

.exampleContainer{
	border: 1px solid lightgray;
	width: 455px;
	height: 256px;
}

.tutorialsSectionIntro{
	padding-top: 20px;
}

/* MARKETING
-------------------------------------------------- */

.marketing {
	height: 300px;
}

.marketing .col-md-3 {
	height: 100%;
	text-align: center;
	font-size: 16px;
	transition: all .0s ease;
}

.marketing .col-md-3:hover {
	color:white;
}

.marketing .col-md-3 .glyphicon {
	font-size: 60px;
	background-color: #EAEAEA;
	border-radius: 50%;
	padding: 40px;
	color: #444;
	margin-top: 20px;
}

.marketing1:hover{
	background: rgb(22, 39, 86);
}

.marketing2:hover{
	background: rgb(47, 65, 114);
}

.marketing3:hover{
	background: rgb(79, 96, 143);
}

.marketing4:hover{
	background: rgb(121, 134, 172);
}




